<a href="https://colab.research.google.com/github/noorulhudaaaa/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
# blocks of code that can be called multiple times
# def keyword and then the name of the function

def greet():
  print("Hello, Wellcome!")

greet()

Hello, Wellcome!

In [29]:
def fullName(fname, lname):
  print(fname + " " + lname)

fullName("Noor", "ul Huda")

Noor ul Huda

In [ ]:
# Function Syntax

def subtract(x,y):
    return x - y

subtract(7,4)

3

In [ ]:
# can either print or let the system compile and execute it

def Multiply(x,y):
    return x * y

def divide(x,y):
    return x / y

print( Multiply(3,4) )
divide(10,3)

12

3.3333333333333335

In [ ]:
def power(x,y):
    return x ** y

def modulus(x,y):
    return x // y

print( power(3,4) )
modulus(19,3)

81

6

In [ ]:
# Return Statement

def square(x):
   return x*x

print(square(7))
#   or
square(7)

49

49

In [ ]:
# Calling a function

greet()
result = power(2,5)

print(result)

Hello, Wellcome!
32

In [ ]:
# Function Arguments/ Parameters

def intro(name, age, gender):
    print(f"My name is {name}. I'm {age} years old and I'm a {gender}")

intro("Noor", 24, "Female")

My name is Noor. I'm 24 years old and I'm a Female

In [ ]:
# Taking input fromn user using function

def intro(name, age, gender):
    print(f"My name is {name}. I'm {age} years old and I'm a {gender}")

name = input("Enter your name: ")
age = int(input("Enter your age: "))
gender = input("Enter your gender: ")

intro(name, age, gender)

Enter your name: Noor
Enter your age: 24
Enter your gender: Female
My name is Noor. I'm 24 years old and I'm a Female

In [ ]:
def scope():

  x =10
  print("Scope of Variable: ", x)

scope()

Scope of Variable:  10

In [ ]:
# Global and Local Variables
# Local: only declared and accessible inside a function
# Global: Declared Outside and accessible everywhere


x= 10   # Global, outside function
print("Global Variable: ", x)  # accessing outside function

def local():
 x = 50       # local, inside function
 return x

print("Global Variable: ", x)
print("Local Variable: ", local())

Global Variable:  10
Global Variable:  10
Local Variable:  50

In [ ]:
x= "Noor ul Huda"   # Global, outside function
print("Global Variable: ", x)  # accessing outside function

def local():
 x = "Aroosa Nasir"       # local, inside function
 return x

print("My Name is: ", x)
print("Updated name is: ", local())

Global Variable:  Noor ul Huda
My Name is:  Noor ul Huda
Updated name is:  Aroosa Nasir

In [ ]:
def local():
 x = "Aroosa Nasir"       # local, inside function
 return x
 x = "Noor ul Huda"

print("My Name is: ", x)
print("Updated name is: ", local())

My Name is:  Noor ul Huda
Updated name is:  Aroosa Nasir

In [ ]:
# Returning the reverse of input string

a = "Noor ul Huda"

def reverse(s):
   return s[::-1]

reversed = reverse(a)
print("Reversed String: ", reversed)

#  Or can use same variable aswell becuase the one inside function would be local variable

def reverse(a):
   return a[::-1]

reversed = reverse(a)
print("Reversed String: ", reversed)

Reversed String:  aduH lu rooN
Reversed String:  aduH lu rooN

In [ ]:
# Default Arguments  -  allows to set default value for parameters if no value is set

def user(namee = "Guest"):
 print (f"Hello {namee}.")

user("Noor ul Huda")
user()

Hello Noor ul Huda.
Hello Guest.

In [5]:
def user(namee = "Guest"):
 print (f"Hello {namee}.")

username= input("Enter your name: ")
user()

Enter your name: Noor
Hello Guest.

In [14]:
# Keyword Arguments  -  calls a function with named parameters. regardless of orders

def student(name, age, marks, course):
   print(f"Name: {name}, Age: {age}, Marks: {marks}, Course: {course}")

student(age=24, name="Noor", course="AI", marks=89)

Name: Noor, Age: 24, Marks: 89, Course: AI

In [10]:
# taking input

def student(name, age, marks, course):
   print(f"Name: {name}, Age: {age}, Marks: {marks}, Course: {course}")

name= input("Enter your name: ")
age= input("Enter your age: ")
marks= input("Enter your marks: ")
course= input("Enter your course: ")

student(name, age, marks, course)

Enter your name: Aroosa Nasir
Enter your age: 23
Enter your marks: 90
Enter your course: DLD
Name: Aroosa Nasir, Age: 23, Marks: 90, Course: DLD

In [17]:
# Variable length Arguments
# using *args  -  accepts arbitrary number of positional arguments

def total(*marks):
   print(f"Marks recieved: {marks}")
   print(f"Total Marks: {sum(marks)}")

# passing arguments
total(59, 88, 64)

Marks recieved: (59, 88, 64)
Total Marks: 211

In [28]:
def add_nums(*nums):
    return sum(nums)

print("Sum of numbers:", add_nums(3, 5, 7, 8, 9))

#   or

add_nums(3, 5, 7, 8, 9)

Sum of numbers: 32

32

In [34]:
def child(*kids):
  print("The youngest child is", kids[2])

child("Noor", "Aroosa", "Amna")

The youngest child is Amna

In [25]:
# Variable length Keyword Arguments
# using *kwargs  -  accepts an arbitrary number of keyword arguments

def profile(**info):
  for key, value in info.items():
     print(f"{key}: {value}")

profile(Name= "Noor", Age= 24, Course= "AI")

Name: Noor
Age: 24
Course: AI

In [38]:
def child(**kid):
  print("His last name is",  kid["lname"])

child(fname = "Sohail", lname = "Ali")

His last name is Ali