# Extra Tasks

# Lists

1. Create a list of 5 integers and print it.

In [ ]:
# Taking a list of 5 integers
int_list = [3, 5, 7, 9, 11]

# Printing the list
print("List: ", int_list)

List:  [3, 5, 7, 9, 11]

2. Access the third element of the list [10, 20, 30, 40, 50].

In [ ]:
# Creating a list
my_list = [10, 20, 30, 40, 50]

# Printing the third element of list
print("Third Element of the list: ", my_list[2])

Third Element of the list:  30

3. Change the second item in a list [1, 2, 3, 4] to 10

In [1]:
# Creating a list
my_list = [1, 2, 3, 4]
print("Original List: ", my_list)

# Replacing second item on index 1 with 10
my_list[1] = 10
print("Updated List: ", my_list)

Original List:  [1, 2, 3, 4]
Updated List:  [1, 10, 3, 4]

4. Append the number 99 to a list [1, 2, 3]

In [3]:
# Creating a list
my_list = [1, 2, 3]
print("Original List: ", my_list)

# Adding number 99 to end
my_list.append(99)
print("Updated List: ", my_list)

Original List:  [1, 2, 3]
Updated List:  [1, 2, 3, 99]

5. Insert the number 25 at index 2 in the list [10, 20, 30, 40]

In [6]:
# Creating a list
my_list = [10, 20, 30, 40]
print("Original List: ", my_list)

# Inserting 25 at index 2
my_list.insert(2, 25)
print("Updated List: ", my_list)

Original List:  [10, 20, 30, 40]
Updated List:  [10, 20, 25, 30, 40]

6. Remove the value 3 from the list [1, 2, 3, 4, 5]

In [7]:
# Making a list
my_list =  [1, 2, 3, 4, 5]
print("Original List: ", my_list)

# Removing 3 from the list
my_list.remove(3)
print("Updated List: ", my_list)

Original List:  [1, 2, 3, 4, 5]
Updated List:  [1, 2, 4, 5]

7. Print the length of the list [5, 10, 15, 20]

In [9]:
# Creating a list
my_list = [5, 10, 15, 20]

# Checking length of list
print("Length of this list: ", len(my_list))

Length of this list:  4

8. Sort the list [5, 2, 9, 1] in ascending order

In [11]:
# Creating a list
my_list = [5, 2, 9, 1]
print("Original List: ", my_list)

# Sorting the list
my_list.sort()
print("Sorted List: ", my_list)

Original List:  [5, 2, 9, 1]
Sorted List:  [1, 2, 5, 9]

9. Reverse the list [1, 2, 3, 4]

In [13]:
# Creatting a list
my_list = [1, 2, 3, 4]
print("Original List: ", my_list)

# Reversing the list
print("Reversed List: ", my_list[::-1])

Original List:  [1, 2, 3, 4]
Reversed List:  [4, 3, 2, 1]

10. Sum all the numbers in a list [10, 20, 30, 40]

In [20]:
# Creating a list
my_list = [10, 20, 30, 40]
print("List: ", my_list)

# Adding all numbers in list
print("Sum of the numbers in list: ", sum(my_list))

List:  [10, 20, 30, 40]
Sum of the numbers in list:  100

# Tuples

1. Create a tuple of 3 colors and print it.

In [22]:
# Making tuple of 3 colours
colours = ("Black", "Brown", "Grey")

# Printing tuple
print("My favorite colours: ", colours)

My favorite colours:  ('Black', 'Brown', 'Grey')

2. Access the second item in the tuple ('a', 'b', 'c')

In [27]:
# Creating a tuple
my_tuple = ('a', 'b', 'c')
print("Tuple: ", my_tuple)

# Access ing the second element in tuple
print("Second item in the tuple: ", my_tuple[1])

Tuple:  ('a', 'b', 'c')
Second item in the tuple:  b

3. Create a tuple with one item (value 5) and print its type.

In [31]:
# Creating one item tuple and printing it's type
single = (5,)
print(type(single))

<class 'tuple'>

4. Convert the tuple (1, 2, 3) to a list.

In [34]:
# Creating a tuple
my_tuple = (1, 2, 3)
print("Tuple: ", my_tuple)

# Converting tuple to list
my_list = list(my_tuple)
print("Converted List: ", my_list)

Tuple:  (1, 2, 3)
Converted List:  [1, 2, 3]

5. Check if "apple" exists in the tuple ("apple", "banana", "cherry")

In [42]:
# Creating a fruits tuple
fruits = ("apple", "banana", "cherry")

# If-else to check if apple is present in tuple
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits tuple!")

else:
  print("No, 'apple' is not in the fruits tuple!")

Yes, 'apple' is in the fruits tuple!

6. Slice the tuple (10, 20, 30, 40, 50) to get (20, 30)

In [41]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)
print("Original Tuple: ", my_tuple)

# Slicing of tuple
sliced_tuple = my_tuple[1:3]
print("Sliced Tuple: ", sliced_tuple)

Original Tuple:  (10, 20, 30, 40, 50)
Sliced Tuple:  (20, 30)

7. Unpack the tuple (1, 2, 3) into three variables and print them.

In [44]:
# Unpacking a tuple
a, b, c = (1, 2, 3)

# Printing them
print(a)
print(b)
print(c)

1
2
3

8. Loop through the tuple ("cat", "dog", "mouse") and print each item.

In [48]:
# Create a tuple
my_tuple = ("cat", "dog", "mouse")

# Set index at 0
i = 0

while i < len(my_tuple):
  print(my_tuple[i])

  # incrementing by 1
  i+=1

cat
dog
mouse

9. Concatenate two tuples: (1, 2) and (3, 4)

In [49]:
# Creating 2 tuples
tuple1 = (1,2)
tuple2 = (3,4)

# Concatenating the tuples
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple: ", concatenated_tuple)

Concatenated Tuple:  (1, 2, 3, 4)

10. Count how many times 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [53]:
# Creating a tuple
my_tuple = (1,2,3,2,4,2)

# Claculating total count of 2 in count
print("Count of 2 in tuple: ", my_tuple.count(2))

Count of 2 in tuple:  3

# Sets

1. Create a set of 4 numbers and print it.

In [2]:
# Creating a set of 4 numbers

my_set = {2, 4, 6, 8}
print("Set: ", my_set)

Set:  {8, 2, 4, 6}

2. Add the number 10 to the set {1, 2, 3}

In [5]:
# Creating a set
my_set = {1, 2, 3}
print("Original Set: ", my_set)

# Adding 10 to the set
my_set.add(10)
print("Updated Set: ", my_set)

Original Set:  {1, 2, 3}
Updated Set:  {10, 1, 2, 3}

3. Remove the item 3 from the set {1, 2, 3, 4}

In [6]:
# Creating a set
my_set = {1, 2, 3, 4}
print("Original List: ", my_set)

# Removing 3 from the list
my_set.remove(3)
print("Updated List: ", my_set)

Original List:  {1, 2, 3, 4}
Updated List:  {1, 2, 4}

4. Find the union of {1, 2, 3} and {3, 4, 5}

In [7]:
# Creating 2 sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print("Set 1: ", set1)
print("Set 2: ", set2)

# Finding union of 2 sets
unionSet = set1.union(set2)
print("Union of 2 sets: ", unionSet)

Set 1:  {1, 2, 3}
Set 2:  {3, 4, 5}
Union of 2 sets:  {1, 2, 3, 4, 5}

5. Find the intersection of {1, 2, 3} and {2, 3, 4}

In [8]:
# Creating 2 sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

print("Set 1: ", set1)
print("Set 2: ", set2)

# Finding intersection of 2 sets
intersectionSet = set1.intersection(set2)
print("Intersection of 2 sets: ", intersectionSet)

Set 1:  {1, 2, 3}
Set 2:  {2, 3, 4}
Intersection of 2 sets:  {2, 3}

6. Check if {1, 2} is a subset of {1, 2, 3}

In [9]:
# Creating 2 sets
set1 = {1, 2}
set2 = {1, 2, 3}

print("Set 1: ", set1)
print("Set 2: ", set2)

# Checking if set1 is subset of set2
print("Set 1 is subset of Set 2: ", set1.issubset(set2))

Set 1:  {1, 2}
Set 2:  {1, 2, 3}
Set 1 is subset of Set 2:  True

7. Check if 5 is in the set {3, 4, 5}

In [10]:
# Creating a set
my_set = {3, 4, 5}

# If-else to check if 5 in set
if 5 in my_set:
  print("Yes, 5 is in the set!")

else:
  print("No, 5 is not in the set!")

Yes, 5 is in the set!

8. Create a set from the list [1, 2, 2, 3, 3, 3] and print it

In [11]:
# Creating a list
my_list = [1, 2, 2, 3, 3, 3]

# Converting list to set
my_set = set(my_list)
print("Set: ", my_set)

Set:  {1, 2, 3}

9. Clear all items from a set {1, 2, 3}

In [12]:
# Creating the list
my_list = {1, 2, 3}
print("Original List: ", my_list)

# Clearing the list
my_list.clear()
print("Updated List: ", my_list)

Original List:  {1, 2, 3}
Updated List:  set()

10. Use a loop to print all items in the set {10, 20, 30}

In [17]:
# Creating a list
my_list = {10, 20, 30}

# printing each item in set
for i in my_list:
  print (i)

10
20
30