# Practice Challenges

# TASK 1

Create a list with 5 favorite movies. Add one, remove one, and sort the list.

In [40]:
# List of 5 fav movies

fav_movies = ["The Exorcist", "His House", "Smile", "Dahmer", "Alice in Borderland"]
print("\nMy favorite movies: ", fav_movies)
print()

# Adding one more
fav_movies.append("You")
print("Favorite movies after adding one: ", fav_movies)
print()

# Removing one movie
fav_movies.remove("Alice in Borderland")
print("Favorite movies after removing Alice in Borderland: ", fav_movies)
print()

# Sorting the movies
fav_movies.sort()
print("Sorted movies list: ", fav_movies)

My favorite movies:  ['The Exorcist', 'His House', 'Smile', 'Dahmer', 'Alice in Borderland']

Favorite movies after adding one:  ['The Exorcist', 'His House', 'Smile', 'Dahmer', 'Alice in Borderland', 'You']

Favorite movies after removing Alice in Borderland:  ['The Exorcist', 'His House', 'Smile', 'Dahmer', 'You']

Sorted movies list:  ['Dahmer', 'His House', 'Smile', 'The Exorcist', 'You']

# TASK 2

Create a tuple of student info (name, age, grade). Try modifying it.

In [39]:
# Creating a tuple
student = ("Noor", 24, "B Grade")
print("\nOriginal Tuple:", student)

# Unpacking the tuple
name, age, grade = student
print("Name:", name)
print("Age:", age)
print("Grade:", grade)

Original Tuple: ('Noor', 24, 'B Grade')
Name: Noor
Age: 24
Grade: B Grade

In [27]:
# It is a tuple so it cannot be directly modified
# Convert tuple to list first

stu_list = list(student)
print("\nConverted to List:", stu_list)

Converted to List: ['Noor', 24, 'B Grade']

In [38]:
# Adding new values
stu_list.extend([98, "Computer Science"])
print("\nAfter Adding Marks and Subject:", stu_list)

# Updating age
stu_list[1] = 26
print("After Changing Age:", stu_list)

# Removing marks
stu_list.remove(98)
print("After Removing Marks:", stu_list)

# Inserting new status
stu_list.insert(3, "Pass")
print("After Inserting Status:", stu_list)

# Popping last element
stu_list.pop()
print("After Popping Last Item:", stu_list)

After Adding Marks and Subject: ['Noor', 26, 'B Grade', 'Pass', 98, 'Computer Science']
After Changing Age: ['Noor', 26, 'B Grade', 'Pass', 98, 'Computer Science']
After Removing Marks: ['Noor', 26, 'B Grade', 'Pass', 'Computer Science']
After Inserting Status: ['Noor', 26, 'B Grade', 'Pass', 'Pass', 'Computer Science']
After Popping Last Item: ['Noor', 26, 'B Grade', 'Pass', 'Pass']

In [37]:
# Copying the list

new_list = stu_list.copy()
print("\nNew List:", new_list)

# Clearing the copied list
new_list.clear()
print("Cleared New List:", new_list)

New List: ['Noor', 26, 'B Grade', 'Pass']
Cleared New List: []

In [32]:
# Convert list back to tuple

student = tuple(stu_list)
print("\nFinal Tuple After All Modifications:", student)
print()

# Unpacking again
name, age, grade, status = student
print("Name:", name)
print("Age:", age)
print("Grade:", grade)
print("Status:", status)

Final Tuple After All Modifications: ('Noor', 26, 'B Grade', 'Pass')

Name: Noor
Age: 26
Grade: B Grade
Status: Pass

# TASK 3

Convert a list of numbers to a tuple and back.

In [42]:
# Making a list

numbers = [3,4,5,7,8,9,11]
print("\nTuple: ", numbers)

# Convert list to tuple
num_tuple = tuple(numbers)
print("Converted List: ", num_tuple)

# Convert tuple back to list
num_list = list(num_tuple)
print("Converted Tuple: ", num_list)
print()

Tuple:  [3, 4, 5, 7, 8, 9, 11]
Converted List:  (3, 4, 5, 7, 8, 9, 11)
Converted Tuple:  [3, 4, 5, 7, 8, 9, 11]

# TASK 4

Create a nested list representing a 3x3 matrix and access center element.

In [61]:
# Create a nested list representing 3*3

nested_list = [[2,3,4], [6,8,9], [12,13,15]]

# accessing the center element

print("Center Element:", nested_list[1][1])

Center Element: 8

# TASK 5

Write a list comprehension to create a list of odd numbers from 1 to 21.

In [59]:
# Creating a list of odd numbers from 1 to 22 using list comprehension

odd = [x for x in range(22) if x % 2 != 0]
print("Odd numbers from 1-21: ", odd)

Odd numbers from 1-21:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]