# Lists

A list is a collection of items stored in a single variable. You can store numbers, words, or a mix of both.

---

## ðŸ”¹ Key Points about Lists

- Lists are ordered (they keep the order you add items in)
- Lists are changeable (you can update, add, or remove items)
- Lists can store multiple data types (e.g., numbers and strings)
- You can have duplicate values in a list
- Lists are dynamic â€” they grow or shrink as you add/remove items

---

```python
myList = ["item1", "item2", "item3", "item4"]
```

In [103]:
# Syntax

emptyList = []
list1 = ["apple", "banana", "cherry"]     # string list
list2 = [1, 5, 7, 9, 3]                   # Int list
list3 = [True, False, False]              # Boolen list
mixed = ["noor", 24, True]
nested = [[1,2], [6,7]]

In [26]:
# Access elements in list

myList = [1,2,3,4,5]
print(myList[0])
print(myList[::-1])
print(myList[-1])

1
[5, 4, 3, 2, 1]
5

In [5]:
# Accessing Nested List

nested = [[1,2], [6,7]]
print(nested[0][1])
print(nested[1][1])
print(nested[1][0])

2
7
6

In [27]:
# Modify Lists

print("Original List: ", myList)

myList[3]= 9
print("Modified List: ", myList)

Original List:  [1, 2, 3, 4, 5]
Modified List:  [1, 2, 3, 9, 5]

In [6]:
# Unpacking Lists

m, n, o, p, q = [2,4,6,8,10]
print(m)
print(n)
print(o)
print(p)
print(q)

2
4
6
8
10

# List Methods

In [28]:
# Append - add an element to the end of list

print("Original List: ", myList)

myList.append(8)
print("List after adding one element: ", myList)

Original List:  [1, 2, 3, 9, 5]
List after adding one element:  [1, 2, 3, 9, 5, 8]

In [29]:
#insert - add an element at a specified position in list  - (index, value)

print("Original List: ", myList)

myList.insert(1, 6)
print("List after adding one element at index 1: ", myList)

Original List:  [1, 2, 3, 9, 5, 8]
List after adding one element at index 1:  [1, 6, 2, 3, 9, 5, 8]

In [30]:
# Extend  -  Adding multiple elements at the end of the list

print("Original List: ", myList)

myList.extend([0, 3, 4])
print("List after adding multiple elements at the end: ", myList)

Original List:  [1, 6, 2, 3, 9, 5, 8]
List after adding multiple elements at the end:  [1, 6, 2, 3, 9, 5, 8, 0, 3, 4]

In [33]:
# Remove - Removes the first occurence of tha value that you ask to remove

print("Original List: ", myList)

myList.remove(8)
print("List after removing the given element from it: ", myList)

Original List:  [1, 6, 2, 3, 9, 5, 8, 0, 3, 4]
List after removing the given element from it:  [1, 6, 2, 3, 9, 5, 0, 3, 4]

In [34]:
# Pop - Removes the last element by default

print("Original List: ", myList)

myList.pop()
print("List after poping an element from it: ", myList)

Original List:  [1, 6, 2, 3, 9, 5, 0, 3, 4]
List after poping an element from it:  [1, 6, 2, 3, 9, 5, 0, 3]

In [39]:
# Index - get index of the first match

print("List: ", myList)

print("Index of provided element is: ", myList.index(0))

List:  [1, 6, 2, 3, 9, 5, 0, 3]
Index of provided element is:  6

In [43]:
# Count - Gets the number of occurences of an element

print("List: ", myList)

print("Count of provided element in list is: ", myList.count(3))

List:  [0, 1, 2, 3, 3, 5, 6, 9]
Count of provided element in list is:  2

In [42]:
# Sort - Sorts list in ascending order

print("Original List: ", myList)

myList.sort()
print("Sorted list: ", myList)

Original List:  [0, 1, 2, 3, 3, 5, 6, 9]
Sorted list:  [0, 1, 2, 3, 3, 5, 6, 9]

In [109]:
# Case Sensitive Sorting

fruitList = ["banana", "Orange", "Kiwi", "cherry"]
fruitList.sort()
print("Sorted List: ", fruitList)

Sorted List:  ['Kiwi', 'Orange', 'banana', 'cherry']

In [60]:
# Reverse - Reverses the list order

print("Original List: ", myList)

myList.reverse()
print("Reversed list: ", myList)

Original List:  [9, 6, 5, 3, 3, 2, 1, 0]
Reversed list:  [0, 1, 2, 3, 3, 5, 6, 9]

In [61]:
# Copy - Creates a copy of the list

new_list = myList.copy()

print("Original List: ", myList)
print("New list: ", new_list)

Original List:  [0, 1, 2, 3, 3, 5, 6, 9]
New list:  [0, 1, 2, 3, 3, 5, 6, 9]

In [62]:
# Clear - Removes all the element from the list

print("New list: ", new_list)

new_list.clear()
print("Cleared list: ", new_list)

New list:  [0, 1, 2, 3, 3, 5, 6, 9]
Cleared list:  []

In [58]:
# Looping through list

new_list=['a','b','c','z']

for item in (new_list):
  print(item)

a
b
c
z

In [59]:
# Enumerate - Adds index

for i, item in enumerate(new_list):
  print(i, item)

0 a
1 b
2 c
3 z

# List Comprehensions

In [64]:
# List Comprehensions

squares = [x**2 for x in range(15)]
print("Sqaure values from 1-15: ", squares)

Sqaure values from 1-15:  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [65]:
# Square of only even numbers - Applying condition

even_squares = [x**2 for x in range(15) if x % 2 == 0]
print("Square of even numbers from 1-15: ", even_squares)

Square of even numbers from 1-15:  [0, 4, 16, 36, 64, 100, 144, 196]

In [68]:
# Square of only odd numbers - Applying condition

odd_squares = [x**2 for x in range(15) if x % 2 != 0]
print("Square of odd numbers from 1-15: ", odd_squares)

Square of odd numbers from 1-15:  [1, 9, 25, 49, 81, 121, 169]

In [106]:
# if elements have "a" , put them in newlist

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]     # check each fruit and put in new list

print("Fruits that have an 'a' in them: ", newlist)

Fruits that have an 'a' in them:  ['apple', 'banana', 'mango']

In [107]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]     # check each fruit

print("Fruits other than apple: ", newlist)

Fruits other than apple:  ['banana', 'cherry', 'kiwi', 'mango']

# Membership

In [7]:
# Using if-else, elif to check if an element is present in the list - Membership

my_list= [3,4,5,7,8,9,11,14,15,18]


# 1st Condition
if 13 in my_list:
  print("13 is present in the list!")
else:
  print("13 is not present in the list!")


# 2nd Condition
if 6 not in my_list:
  print("6 is not present in the list!")
else:
  print("6 is present in the list!")


# 3rd Condition
if 15 in my_list:
  print("15 is present in the list!")
else:
  print("15 is not in the list!")


# 4th Condition
if 1 in my_list:
  print("1 is present in the list!")
elif 2 in my_list:
  print("2 is present in the list!")
else:
  print("Both 1 and 2 are not present in the list")

13 is not present in the list!
6 is not present in the list!
15 is present in the list!
Both 1 and 2 are not present in the list

# Practice

In [70]:
# Showing even and odd for elements in list

userList = [1, 2, 3, 4, 6, 8, 9, 0]
for item in userList:
  if item % 2 == 0:
    print(item, "is even!")

  else:
    print(item, "is odd!")

1 is odd!
2 is even!
3 is odd!
4 is even!
6 is even!
8 is even!
9 is odd!
0 is even!

In [100]:
# using while loop to print all values in the list

print("Length of list: ", len(userList))
# index at 0
i = 0
while i < len(userList):
  print(f"Current Element: {userList[i]}")

  # incrementing by 1
  i+=1

Length of list:  8
Current Element: 1
Current Element: 2
Current Element: 3
Current Element: 4
Current Element: 6
Current Element: 8
Current Element: 9
Current Element: 0

# List Slicing

In [78]:
# List Slicing

a = [2, 4, 5, 6, 7, 8]
print("Original List: ", a)

slicedList = a[1:4]

print("Sliced list from index 1 to 4: ", slicedList)

Original List:  [2, 4, 5, 6, 7, 8]
Sliced list from index 1 to 4:  [4, 5, 6]

In [80]:
print("Original List: ", a)

slicedList = a[:5]

print("Sliced list from index starting to 5: ", slicedList)

Original List:  [2, 4, 5, 6, 7, 8]
Sliced list from index starting to 5:  [2, 4, 5, 6, 7]

In [81]:
print("Original List: ", a)

slicedList = a[2:]

print("Sliced list from index 2 to end: ", slicedList)

Original List:  [2, 4, 5, 6, 7, 8]
Sliced list from index 2 to end:  [5, 6, 7, 8]

In [82]:
print("Original List: ", a)

reversedList = a[::-1]

print("Reversed List: ", reversedList)

Original List:  [2, 4, 5, 6, 7, 8]
Reversed List:  [8, 7, 6, 5, 4, 2]

In [84]:
print("Original List: ", a)

slicedList = a[::2]

print("Sliced list with 2 steps each: ", slicedList)

Original List:  [2, 4, 5, 6, 7, 8]
Sliced list with 2 steps each:  [2, 5, 7]

In [87]:
print("Original List: ", a)

print("Last Element: ", a[-1])
print("Third Last Element: ", a[-3])
print("Fourth Last Element: ", a[-4])
print("Sixth Last Element: ", a[-6])

Original List:  [2, 4, 5, 6, 7, 8]
Last Element:  8
Third Last Element:  6
Fourth Last Element:  5
Sixth Last Element:  2

In [92]:
print("Original List: ", a)

print("From third last index element to the last in list: " , a[-3:])
print("From start of the list to the second last index element: ", a[:-2])
print("From the 4th last index element to the first last index element in list: ", a[-4:-1])

Original List:  [2, 4, 5, 6, 7, 8]
From third last index element to the last in list:  [6, 7, 8]
From start of the list to the second last index element:  [2, 4, 5, 6]
From the 4th last index element to the first last index element in list:  [5, 6, 7]