#  Dictionaries
A dictionary is a collection of key-value pairs stored in a single variable. Each key is unique, and it is used to access its corresponding value.

# ðŸ”¹ Key Points about Dictionaries:
 - Store data as key: value pairs
 - Keys must be unique and immutable (string, number, tuple)
 - Values can be of any data type
 - Changeable (can add, update, or remove items)
 - Useful for fast lookups and mapping data

``` python
my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
```

In [1]:
# Syntax

emptyDict = {}   # Empty dictionary

# Dictionary with string keys and string values
dict1 = {"name": "Noor", "fruit": "apple", "color": "red"}

# Dictionary with string keys and integer values
dict2 = {"age": 25, "year": 2025, "score": 95}

# Dictionary with mixed data types in values
dict3 = {"name": "Noor", "age": 25, "Student": True, "height": 5.6}

# Dictionary with mixed data types in keys
dict4 = {1: "one", "two": 2, True: "yes", 3.5: "pi"}

# Nested dictionary
nested = {"person": {"name": "Noor", "age": 25},
    "job": {"title": "Data Analyst", "experience": 2}}

print(emptyDict)
print(dict1)
print(dict2)
print(dict3)
print(dict4)
print(nested)

{}
{'name': 'Noor', 'fruit': 'apple', 'color': 'red'}
{'age': 25, 'year': 2025, 'score': 95}
{'name': 'Noor', 'age': 25, 'Student': True, 'height': 5.6}
{1: 'yes', 'two': 2, 3.5: 'pi'}
{'person': {'name': 'Noor', 'age': 25}, 'job': {'title': 'Data Analyst', 'experience': 2}}

In [2]:
# Checking type after creating a set

x=dict()
print(type(x))

<class 'dict'>

In [95]:
# If dublicate values for the same key, it takes the latest one

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)
print(len(thisdict))
#
print()

my_dict= {"name":"noor", "name":"amna"}
print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

{'name': 'amna'}

In [99]:
# dict() - using dict() constructor to make doictionary, works the same

this_dict = dict(name = "John", age = 36, country = "Norway")
print(this_dict)

# easy way to update dictionary
this_dict["name"]= "noor"
print(this_dict)

# can also add like this
this_dict["gender"]= "Female"
print(this_dict)

{'name': 'John', 'age': 36, 'country': 'Norway'}
{'name': 'noor', 'age': 36, 'country': 'Norway'}
{'name': 'noor', 'age': 36, 'country': 'Norway', 'gender': 'Female'}

# Conversion

In [24]:
# Converting dictionary to a list

my_dict = {"name": "noor", "age": 24}

key_list = list(my_dict.keys())  # can also write just list(my_dict)
print(key_list)

values_list = list(my_dict.values())
print(values_list)

items_list = list(my_dict.items())
print(items_list)
print()

# converting back to dictionary

my_dict= dict(items_list)
print(my_dict)

['name', 'age']
['noor', 24]
[('name', 'noor'), ('age', 24)]

{'name': 'noor', 'age': 24}

In [36]:
# Converting dictionary to a tuple

my_dict = {"name": "noor", "age": 24}

key_tuple = tuple(my_dict.keys())  # can also write just tuple(my_dict)
print(key_tuple)

values_tuple = tuple(my_dict.values())
print(values_tuple)

items_tuple = tuple(my_dict.items())
print(items_tuple)
print()

# converting back to dictionary

my_dict= dict(items_tuple)
print(my_dict)

('name', 'age')
('noor', 24)
(('name', 'noor'), ('age', 24))

{'name': 'noor', 'age': 24}

In [27]:
# Converting dictionary to a set
# Sets donâ€™t allow duplicates and are unordered, so order may change:

my_dict = {"name": "noor", "age": 24}

key_set = set(my_dict.keys())  # can also write just set(my_dict)
print(key_set)

values_set = set(my_dict.values())
print(values_set)

items_set = set(my_dict.items())
print(items_set)
print()

# converting back to dictionary

my_dict= dict(items_set)
print(my_dict)

{'age', 'name'}
{24, 'noor'}
{('age', 24), ('name', 'noor')}

{'age': 24, 'name': 'noor'}

# Accessing Dictionary

In [12]:
# Access values in dictionary by keys

my_dict = {"name": "noor", "age": 24}

print("Name:", my_dict["name"])
print("Age:", my_dict["age"])

Name: noor
Age: 24

In [35]:
# You can access a dictionaryâ€™s items using indexes indirectly by converting it to a list first.

my_dict = {"name": "noor", "age": 24, "country": "Pakistan"}

# Get first key
first_key = list(my_dict.keys())[0]
print("First key:", first_key)            # name

# Get first value
first_value = list(my_dict.values())[0]
print("First value:", first_value) # noor

# Get second key
second_key = list(my_dict.keys())[1]
print("Second Key:", second_key)
print()

# Getting second key and third value

second_items = list(my_dict.items())[1]
print("Second items:", second_items)

third_value = list(my_dict.values())[2]
print("Third value:", third_value)

print ("First key is", first_key, "and its value is", first_value)

First key: name
First value: noor
Second Key: age

Second items: ('age', 24)
Third value: Pakistan
First key is name and its value is noor

# Loops in Dictionary

In [43]:
# Creating a dictionary

my_dict = {"name": "noor", "age": 24, "country": "Pakistan"}
i = 0

# Loop to go through each item
for items in my_dict.items():
    print(items)

print()

# Loop to go through each key
for key in my_dict.keys():
    print(key)

print()

# Loop to go through each value
for value in my_dict.values():
    print(value)

('name', 'noor')
('age', 24)
('country', 'Pakistan')

name
age
country

noor
24
Pakistan

# Membership

In [55]:
# Creating a dictionary

person = {"name": "Noor", "age": 24, "city": "Rawalpindi"}

# Check if a key exists in the dictionary
print("name" in person.keys())
print("city" not in person)

print()

# Using membership in an if-else
if "age" in person:
    print("Age is in the dictionary.")
else:
    print("Age is not in the dictionary.")

print()

# Checking for a value instead in the dictionary
if "Rawalpindi" in person.values():
    print("Rawalpindi is in the dictionary values.")
else:
    print("Rawalpindi is not in the dictionary values.")

if "Lahore" in person.values():
    print("Lahore is in the dictionary values.")
else:
    print("Lahore is not in the dictionary values.")

True
False

Age is in the dictionary.

Rawalpindi is in the dictionary values.
Lahore is not in the dictionary values.

# Dictionary Methods

In [57]:
# clear() - removes all element from dictionary

dict1 = {"name": "Noor", "fruit": "apple", "color": "red"}
print("Original Dictionary: ", dict1)

dict1.clear()
print("Dictionary after being cleared: ", dict1)

Original Dictionary:  {'name': 'Noor', 'fruit': 'apple', 'color': 'red'}
Dictionary after being cleared:  {}

In [58]:
# copy - makes a copy of dictionary

dict1 = {"name": "Noor", "fruit": "apple", "color": "red"}
print("Original Dictionary: ", dict1)

dict2 = dict1.copy()
print("Copied Dictionary: ", dict2)

Original Dictionary:  {'name': 'Noor', 'fruit': 'apple', 'color': 'red'}
Copied Dictionary:  {'name': 'Noor', 'fruit': 'apple', 'color': 'red'}

In [63]:
# fromkey -  just makes a new dictionary by:
# Taking a list (or any iterable) of keys.
# Giving each key the same value you choose (or None if you donâ€™t give one).

keys = ["a", "b", "c"]
my_dict = dict.fromkeys(keys, 0)
print(my_dict)

print()

my_dict2 = dict.fromkeys(["name","age","city"],"unknown")
print(my_dict2)

{'a': 0, 'b': 0, 'c': 0}

{'name': 'unknown', 'age': 'unknown', 'city': 'unknown'}

In [74]:
# get() - looks for a key in a dictionary:
# If the key is there â†’ it gives you its value.
# If the key is not there â†’ it gives you a value you choose (or None if you donâ€™t choose).

my_dict = {"name": "Noor", "age": 24}

print(my_dict.get("name"))
print(my_dict.get("city", "N/A"))
print()

print(my_dict.get("country"))
print(my_dict.get("country", "Not provided"))

Noor
N/A

None
Not provided

In [76]:
# items() - shows all the dictionaryâ€™s data as pairs of (key, value) in a list-like form.

my_dict = {"name": "Noor", "age": 24}

print(my_dict.items())

dict_items([('name', 'Noor'), ('age', 24)])

In [78]:
# keys() - shows all the keys in the dictionary, kind of like a list of labels without their values.

my_dict = {"name": "Noor", "age": 24}

print(my_dict.keys())

dict_keys(['name', 'age'])

In [81]:
# pop() removes a specific key from the dictionary and gives you back its value.

my_dict = {"name": "Noor", "age": 24}

print("Removed Value: ", my_dict.pop("name"))
print("Dictionary after popping key: ", my_dict)

Removed Value:  Noor
Dictionary after popping key:  {'age': 24}

In [82]:
# popitem() - removes and gives you back the last added key-value pair from the dictionary.

my_dict = {"name": "Noor", "age": 24}

print("Removed Value: ", my_dict.popitem())
print("Dictionary after popping item: ", my_dict)

Removed Value:  ('age', 24)
Dictionary after popping item:  {'name': 'Noor'}

In [85]:
# values() -  gives you all the values from a dictionary, without the keys.

my_dict = {"name": "Noor", "age": 24}

print("Values in dictionary are: ", my_dict.values())

Values in dictionary are:  dict_values(['Noor', 24])

In [90]:
# update() - adds or changes items in a dictionary using another dictionary or a list of key-value pairs.

my_dict = {"name": "Noor", "age": 24}
print("Original Dictionary: ", my_dict)
print()

my_dict.update({"age": 26, "city": "Rawalpindi"})
print("Updated Dictionary: ", my_dict)
print()

my_dict.update([("country", "Pakistan"), ("gender", "Female")])
print("Original Dictionary: ", my_dict)

Original Dictionary:  {'name': 'Noor', 'age': 24}

Updated Dictionary:  {'name': 'Noor', 'age': 26, 'city': 'Rawalpindi'}

Original Dictionary:  {'name': 'Noor', 'age': 26, 'city': 'Rawalpindi', 'country': 'Pakistan', 'gender': 'Female'}

In [91]:
# setdefault() looks for a key in a dictionary.
# If the key exists â†’ it gives you its value.
# If the key doesnâ€™t exist â†’ it adds the key with the value you give and returns that value.

my_dict = {"name": "Noor", "age": 24}

print(my_dict.setdefault("name"))
print(my_dict.setdefault("city", "Rawalpindi"))
print(my_dict)

Noor
Rawalpindi
{'name': 'Noor', 'age': 24, 'city': 'Rawalpindi'}

In [101]:
# del() - deletes the required item when you put the key

my_dict = {"name": "Noor", "age": 24}
print("Original Dictionary: ", my_dict)

del my_dict["name"]
print("Dictionary after deleting key: ", my_dict)

del my_dict
print(my_dict) # error because the dictionary is deleted

Original Dictionary:  {'name': 'Noor', 'age': 24}
Dictionary after deleting key:  {'age': 24}

NameError: name 'my_dict' is not defined