# OOP (Object-Oriented Programming)
OOP is a programming approach where code is organized into classes and objects, combining data (attributes) and functions (methods) in a single unit.

# ðŸ”¹ Key Points about OOP:
- Class: A blueprint/template that defines how an object looks and behaves.
- Example: A Car class defines features like color, model, and what actions it can perform.
- Object / Instance: A real example created from a class, with its own data.
- Example: A specific car with red color and 2024 model is an object of the Car class.
- Attribute: A property or characteristic of an object.
- Example: For a car object â†’ color, model, year.
- Method: A function defined inside a class to perform actions on objects.
- Example: For a car object â†’ start(), stop(), accelerate().

In [65]:
# class definitions cannot be empty.
# But if you for some reason have a class definition with no content
# put in the pass statement to avoid getting an error.

class me:
  pass

In [6]:
# creating a class

class this_class:
  a= 8

In [52]:
# creating an object and printing value of 'a'

student = this_class()
print(student.a)

8

In [4]:
# creating attributes for the object

student.name = "Noor"
student.age = 24
student.grade = "A"
print(student.name)
print(student.age)
print(student.grade)

Noor
24
A

# Method - __init__()

In [9]:
# using _init_() method - for initializing attributes

class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

# Making the object of the class Student

student_data = Student("Noor", 24, "A")
print(student_data.name)
print(student_data.age)
print(student_data.grade)

Noor
24
A

# Without "__str__()" Method

In [27]:
# The string representation of an object WITHOUT the __str__() method
# using _init_() method - for initializing attributes

class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

# Making the object of the class Student

student_data = Student("Noor", 24, "A")
print(student_data)

<__main__.Student object at 0x79ff8a436a90>

# Using "__str__()" Method

In [33]:
# Using _str_() method

# Initialzing attributes

class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def __str__(self):
      return f"My name is {self.name} and age is {self.age} with grade {self.grade}"

# Making the object of the class Student

student_data = Student("Noor" , 24, 'A')

print(student_data)

My name is Noor and age is 24 with grade A

# Update

In [41]:

# Initialzing attributes

class person:
  def __init__(self, name, gender, city):
    self.name = name
    self.gender = gender
    self.city = city

  def __str__(self):
      return f"My name is {self.name} and I'm a {self.gender} living in {self.city}."

# Making the object of the class Student

person_info = person("Noor" , "Female", "Rawalpindi")
print(person_info)
print()

# Updating

person_info.city = "Lahore"
print(person_info)

My name is Noor and I'm a Female living in Rawalpindi.

My name is Noor and I'm a Female living in Lahore.

# Delete

In [47]:

# Initialzing attributes

class person:
  def __init__(self, name, gender, city):
    self.name = name
    self.gender = gender
    self.city = city

  def __str__(self):
      city_info = getattr(self, 'city', 'Unknown')
      return f"My name is {self.name} and I'm a {self.gender} living in {city_info}."

# Making the object of the class Student

person_info = person("Noor" , "Female", "Rawalpindi")
print(person_info)
print()

# DELETING

del person_info.city
print(person_info)

My name is Noor and I'm a Female living in Rawalpindi.

My name is Noor and I'm a Female living in Unknown.

In [49]:
# DELETING my object

del person_info
print(person_info)

# the object has been deleted so it shows not defined

NameError: name 'person_info' is not defined

# Practice

In [51]:
# Can use any variable in place of self

class Student:
  def __init__(inform, name, age, grade):
    inform.name = name
    inform.age = age
    inform.grade = grade

  def __str__(inform):
      return f"My name is {inform.name} and age is {inform.age} with grade {inform.grade}"

# Making the object of the class Student

student_data = Student("Noor" , 24, 'A')

print(student_data)

My name is Noor and age is 24 with grade A

In [64]:
# creating any function other than _str_

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello, my name is", self.name)

person = Person("NOOR", 25)
person.myfunc()

Hello, my name is NOOR