# Sets

A set is a collection of unique items stored in a single variable. Unlike lists and tuples, sets do not allow duplicates and are unordered.

---

## ðŸ”¹ Key Points about Sets

- Sets are unordered (items have no fixed position)
- Sets do not allow duplicate values
- Sets are changeable (you can add or remove items)
- Sets can hold multiple data types (e.g., strings, numbers)
- Sets are useful for removing duplicates or testing membership

---

``` python
mySet = {"apple", "banana", "cherry"}
```

In [12]:
# Syntax

emptySet = set()

set1 = {"apple", "banana", "cherry"}   # Set of strings
set2 = {1, 5, 7, 9, 3}                 # Set of integers
set3 = {True, False}                   # Set of booleans
mixedSet = {1, 2, 3, 4.5, 'hello', True, "noor"}          # Mixed data types
mixedSet2 = {True, 1, 2, 3, 4.5, 'hello', "noor"}

# Note: Sets do not support nesting like lists do

print(emptySet)
print(set1)
print(set2)
print(set3)
print(mixedSet)
print(mixedSet2)

set()
{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}
{1, 2, 3, 4.5, 'noor', 'hello'}
{True, 2, 3, 4.5, 'noor', 'hello'}

In [2]:
# Checking type after creating a set

x=set()
print(type(x))

<class 'set'>

# Conversion

In [13]:
# Creating a list
my_list = [1, 2, 3, 4, 5, 6, 7]
print("List: ", my_list)

# Converting to a set
my_set = set(my_list)
print("Converted Set: ", my_set)

List:  [1, 2, 3, 4, 5, 6, 7]
Converted Set:  {1, 2, 3, 4, 5, 6, 7}

In [14]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
print("Set: ", my_set)

# Converting to a list
my_list = list(my_set)
print("Converted List: ", my_list)

# Converting to a tuple
my_tuple = tuple(my_set)
print("Converted Tuple: ", my_tuple)

Set:  {1, 2, 3, 4, 5}
Converted List:  [1, 2, 3, 4, 5]
Converted Tuple:  (1, 2, 3, 4, 5)

In [11]:
# List to set
my_set = set([3, 7, 9, 11, 15])
print(my_set)

{3, 7, 9, 11, 15}

# Accessing Sets

In [19]:
# Access elements in sets

my_set = {1,2,3,4,5}
print(my_set[0])

# We can't access them using index because set is unordered so they donot have a proper index

TypeError: 'set' object is not subscriptable

# Loop in Sets

In [64]:
# Creating a set

my_set = {"Noor", 24, "Data Science"}
i = 0

# Loop to go through each item
for item in my_set:
    print(item)

Noor
24
Data Science

# Membership

In [53]:
fruit = {"apple", "banana", "strawberry"}
print("strwaberry" in fruit)

fruit = {"apple", "banana", "cherry"}
print("strwaberry" not in fruit)

print()

fruit = {"apple", "banana", "strawberry"}

if "strawberry" in fruit:
    print("Strawberry is in the set.")
else:
    print("Strawberry is not in the set.")

False
True

Strawberry is in the set.

# Set Methods

In [26]:
# Add() - Similar to append() in lists but since sets are unordered, the item is added anywhere (random position)

my_set = {3, 6, 8}
print("Original Set: ", my_set)

my_set.add(4)
print("Updated Set: ", my_set)


my_set.add("noor")
print("Updated again: ", my_set)

Original Set:  {8, 3, 6}
Updated Set:  {8, 3, 4, 6}
Updated again:  {3, 4, 6, 8, 'noor'}

In [33]:
# Update() - Adds each element from an iterable (like list, set, tuple) to the set
# Since sets are unordered, items go anywhere
# Duplicates are ignored

my_set = {4, 5, 7}
print("Original Set: ", my_set)

my_set.update([11, 15, 3])
print("Updated Set: ", my_set)
print()

# Another way

my_set = {4, 5, 7}
print("Original Set: ", my_set)

a = {7, 9, 10}
my_set.update(a)
print("Updated Set: ", my_set)

Original Set:  {4, 5, 7}
Updated Set:  {3, 4, 5, 7, 11, 15}

Original Set:  {4, 5, 7}
Updated Set:  {4, 5, 7, 9, 10}

In [36]:
# Remove - Deletes a specific item
# Removes the given value from the set
# Gives an error if the value doesn't exist

my_set = {1, 2, 3, 4, 5}
print("Original Set: ", my_set)

my_set.remove(3)
print("Updated Set: ", my_set)

my_set.remove(7)
print("Updated Set: ", my_set)

Original Set:  {1, 2, 3, 4, 5}
Updated Set:  {1, 2, 4, 5}

KeyError: 7

In [39]:
# Discard - Safely deletes an item
# Works like remove() but no error if item not found
# Good for safe deletion

my_set = {1, 2, 3, 4, 5}
print("Original Set: ", my_set)

my_set.discard(4)
print("Updated Set: ", my_set)
print()

my_set.discard(9)
print("Updated Set: ", my_set)

Original Set:  {1, 2, 3, 4, 5}
Updated Set:  {1, 2, 3, 5}

Updated Set:  {1, 2, 3, 5}

In [49]:
# Pop - Removes a random item
# Removes and returns one random item
# Gives error if set is empty
# Since sets are unordered, you don't control what gets removed

my_set = {7, 9, 13, 15}
print("Original Set: ", my_set)

removed_item = my_set.pop()
print("Updated Set: ", my_set)
print()

fruit = {"apple", "banana", "cherry"}
print("Original Set: ", fruit)

removed_item = fruit.pop()
print("Updated Set: ", fruit)

Original Set:  {9, 7, 13, 15}
Updated Set:  {7, 13, 15}

Original Set:  {'cherry', 'banana', 'apple'}
Updated Set:  {'banana', 'apple'}

In [55]:
# Clear - Removes all items
# Empties the entire set

my_set = {"Noor", 24, "Data Science"}
print("Original Set: ", my_set)

my_set.clear()
print("Updated Set: ", my_set)

Original Set:  {'Noor', 24, 'Data Science'}
Updated Set:  set()

In [107]:
# Copy - Makes of copy of set

my_set = {"Noor", 24, "Data Science"}
print("Original Set: ", my_set)

new_set = my_set.copy()
print("Copied Set: ", new_set)

Original Set:  {'Noor', 24, 'Data Science'}
Copied Set:  {'Noor', 24, 'Data Science'}

In [105]:
# Delete - Deletes the set completely

my_set = {"Noor", 24, "Data Science"}
print("Original Set: ", my_set)

del my_set
print("Deleted Set: ", my_set)

# It deleted the set, this will raise an error because the set no longer exists.

Original Set:  {'Noor', 24, 'Data Science'}

NameError: name 'my_set' is not defined

In [109]:
# isdisjoint() - Checks if two sets have NO common elements.
# Returns true when no common element found

set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

True
False

In [112]:
# issubset() or <= - Checks if one set is a subset of another.
# Returns True if all elements of the first set exist in the second set.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1.issubset(set2))
print(set1 <= set2)
print()

# Strict subset or < - Same as issubset(), but also checks that the sets are not equal.
# If equal returns false

set1 = {1, 2, 3}
set2 = {1, 2, 3}

print(set1 < (set2))

True
True

False

In [119]:
# issuperset() or >= - Returns True if this set has all the elements of the other set.

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1.issuperset(set2))
print(set2 >= set1)
print()

# (Strict Superset)or > - Same as issuperset(), but also checks that the sets are not equal.
# Returns true when not equal

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

print(set1 > (set2))

False
True

False

# Set Operations

In [68]:
# Union - Combines both sets (no duplicates)
# Creating two sets

set1= {2,5,7,9}
set2 = {'noor', True, 24, 8, 9, 8}

print("Set 1: ", set1)
print("Set 2: ", set2)
print()

# Performing union

finalSet  = set1.union(set2)
print("Union of two sets: ", finalSet)

# or

finalSet  = set1 | set2
print("Union of two sets: ", finalSet)

Set 1:  {9, 2, 5, 7}
Set 2:  {True, 24, 8, 'noor', 9}

Union of two sets:  {True, 2, 5, 7, 8, 9, 'noor', 24}
Union of two sets:  {True, 2, 5, 7, 8, 9, 'noor', 24}

In [78]:
# Another example
# Creating 4 sets

set1 = {"a", "b", "c", 3}
set2 = {1, 2, 3}
set3 = {"noor", 3, "amna"}
set4 = {"apple", "bananas", "cherry", 3}

print("Set 1: ", set1)
print("Set 2: ", set2)
print("Set 3: ", set3)
print("Set 4: ", set4)
print()

finalSet = set1.union(set2, set3, set4)
print("Union of 4 sets: ", finalSet)

# Or

finalSet = set1 | set2 | set3 | set4
print("Union of 4 sets: ", finalSet)

Set 1:  {3, 'b', 'c', 'a'}
Set 2:  {1, 2, 3}
Set 3:  {'noor', 3, 'amna'}
Set 4:  {3, 'cherry', 'bananas', 'apple'}

Union of 4 sets:  {1, 2, 3, 'noor', 'cherry', 'b', 'c', 'bananas', 'apple', 'amna', 'a'}
Union of 4 sets:  {1, 2, 3, 'noor', 'cherry', 'b', 'c', 'bananas', 'apple', 'amna', 'a'}

In [73]:
# Intersection - Items common in both sets
# Creating two sets

set1= {2,5,7,9}
set2 = {'noor', True, 24, 8, 9, 8}

print("Set 1: ", set1)
print("Set 2: ", set2)
print()

# Performing union

finalSet  = set1.intersection(set2)
print("Intersection of two sets: ", finalSet)

# or

finalSet  = set1 & set2
print("Intersection of two sets: ", finalSet)

Set 1:  {9, 2, 5, 7}
Set 2:  {True, 24, 8, 'noor', 9}

Intersection of two sets:  {9}
Intersection of two sets:  {9}

In [77]:
# Another example
# Creating 4 sets

set1 = {"a", "b", "c", 3}
set2 = {1, 2, 3}
set3 = {"noor", 3, "amna"}
set4 = {"apple", "bananas", 3, "cherry"}

print("Set 1: ", set1)
print("Set 2: ", set2)
print("Set 3: ", set3)
print("Set 4: ", set4)
print()

finalSet = set1.intersection(set2, set3, set4)
print("Intersection of 4 sets: ", finalSet)

# Or

finalSet = set1 & set2 & set3 & set4
print("Intersection of 4 sets: ", finalSet)

Set 1:  {3, 'b', 'c', 'a'}
Set 2:  {1, 2, 3}
Set 3:  {'noor', 3, 'amna'}
Set 4:  {'cherry', 3, 'bananas', 'apple'}

Intersection of 4 sets:  {3}
Intersection of 4 sets:  {3}

In [87]:
# Another example

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print("Intersection of both sets: ", set3)

Intersection of both sets:  {False, 1, 'apple'}

In [88]:
# Intersection_update - It keeps only the common values in your original set.

# It changes the set you call it on.

set1 = {"apple", "banana", "cherry", "watermelon"}
set2 = {"google", "microsoft", "watermelon", "apple"}

set2.intersection_update(set1)

print("Intersection update of both sets: ", set2)

Intersection update of both sets:  {'watermelon', 'apple'}

In [89]:
# Difference - Items in set 1 but not in set 2

# Creating two sets

set1= {2,5,7,9}
set2 = {'noor', True, 24, 8, 9, 8}

print("Set 1: ", set1)
print("Set 2: ", set2)
print()

# Performing union

finalSet  = set1.difference(set2)
print("Difference of two sets: ", finalSet)

# or

finalSet  = set1 - set2
print("Difference of two sets: ", finalSet)

Set 1:  {9, 2, 5, 7}
Set 2:  {True, 24, 8, 'noor', 9}

Difference of two sets:  {2, 5, 7}
Difference of two sets:  {2, 5, 7}

In [91]:
# Another example
# Creating 4 sets

set1 = {"a", "b", "c", 3}
set2 = {1, 2, 3}
set3 = {"noor", 3, "amna"}
set4 = {"apple", "bananas", 3, "cherry"}

print("Set 1: ", set1)
print("Set 2: ", set2)
print("Set 3: ", set3)
print("Set 4: ", set4)
print()

finalSet = set1.difference(set2, set3, set4)
print("Intersection of 4 sets: ", finalSet)

# Or

finalSet = set1 - set2 - set3 - set4
print("Difference of 4 sets: ", finalSet)

Set 1:  {3, 'b', 'c', 'a'}
Set 2:  {1, 2, 3}
Set 3:  {'noor', 3, 'amna'}
Set 4:  {'cherry', 3, 'bananas', 'apple'}

Intersection of 4 sets:  {'b', 'c', 'a'}
Difference of 4 sets:  {'b', 'c', 'a'}

In [95]:
# Another example

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.difference(set2)

print("Difference of set 1 and set 2: ", set3)

Difference of set 1 and set 2:  {'cherry', 'banana'}

In [106]:
# Difference update

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [98]:
# Symmetric difference - Shows the items that are in either of the sets, but not in both.
# It removes the common values. It keeps only the different ones from both sets.

# Creating two sets

set1= {2,5,9}
set2 = {'noor', True, 8, 9, 8}

print("Set 1: ", set1)
print("Set 2: ", set2)
print()

# Performing union

finalSet  = set1.symmetric_difference(set2)
print("Symmetric Difference of two sets: ", finalSet)

Set 1:  {9, 2, 5}
Set 2:  {8, 'noor', True, 9}

Symmetric Difference of two sets:  {True, 2, 5, 8, 'noor'}

In [103]:
# Another example
# Creating 4 sets

set1 = {"a", "b", "c", 3}
set2 = {1, 2, 3}
set3 = {"noor", 3, "amna"}
set4 = {"apple", "bananas", "cherry", 3}

print("Set 1: ", set1)
print("Set 2: ", set2)
print("Set 3: ", set3)
print("Set 4: ", set4)
print()

finalSet = (((set1.symmetric_difference(set2)).symmetric_difference(set3)).symmetric_difference(set4))
print("Symmetric Difference of 4 sets: ", finalSet)

Set 1:  {3, 'b', 'c', 'a'}
Set 2:  {1, 2, 3}
Set 3:  {'noor', 3, 'amna'}
Set 4:  {3, 'cherry', 'bananas', 'apple'}

Symmetric Difference of 4 sets:  {1, 2, 'noor', 'cherry', 'b', 'c', 'bananas', 'apple', 'amna', 'a'}

In [101]:
# Symmetric Difference Update
# Itâ€™s like symmetric_difference(), but it updates the original set instead of returning a new one.

set1 = {"apple", "banana", "cherry", "watermelon"}
set2 = {"google", "microsoft", "watermelon", "apple"}

set1.symmetric_difference_update(set2)

print("Symmetric difference update of both sets: ", set1)

Symmetric difference update of both sets:  {'banana', 'microsoft', 'cherry', 'google'}