# Tuples
A tuple is a collection of items stored in a single variable, just like a list â€” but unlike lists, tuples cannot be changed after they're created.

---

## ðŸ”¹ Key Points about Tuples

- Tuples are ordered (they keep the order you add items in)
- Tuples are unchangeable (you can't add, update, or remove items once created)
- Tuples can store multiple data types (e.g., numbers and strings)
- You can have duplicate values in a tuple
- Tuples use less memory than lists, making them slightly faster.

---


```python
myTuple = ("item1", "item2", "item3", "item4")
```

In [1]:
# Syntax

emptyTuple = ()
tuple1 = ("apple", "banana", "cherry")     # String tuple
tuple2 = (1, 5, 7, 9, 3)                   # Int tuple
tuple3 = (True, False, False)              # Boolen tuple
single = (2,)
mixed = ("noor", 24, False, 4.78)          # All data typle

In [15]:
# Access elements in tuple

myTuple = ("a", "b", "c", "d", "f", "j" , "m")

print(myTuple[3])
print(myTuple[-1])
print(myTuple[-6])
print(myTuple[::-1])

d
m
b
('m', 'j', 'f', 'd', 'c', 'b', 'a')

# Tuple Methods

In [16]:
# Index - get index of the first match

print("Tuple: ", myTuple)

print("Index of provided element is: ", myTuple.index("c"))

Tuple:  ('a', 'b', 'c', 'd', 'f', 'j', 'm')
Index of provided element is:  2

In [18]:
# Count - Gets the number of occurences of an element

print("List: ", myTuple)

print("Count of j in tuple is: ", myTuple.count("j"))

List:  ('a', 'b', 'c', 'd', 'f', 'j', 'm')
Count of j in tuple is:  1

# Conversion
-  List <-> Tuple

In [24]:
# Tuple to list Conversion

my_tuple= ( 3, 6, 9, 0, 2)
print("Tuple: ", my_tuple)
my_list = list(my_tuple)
print("Tuple to List Converversion: ", my_list)

Tuple:  (3, 6, 9, 0, 2)
Tuple to List Converversion:  [3, 6, 9, 0, 2]

In [25]:
# List to Tuple Conversion

my_list= [ 3, 6, 9, 0, 2]
print("Tuple: ", my_list)
my_tuple = tuple(my_list)
print("List to Tuple Converversion: ", my_tuple)

Tuple:  [3, 6, 9, 0, 2]
List to Tuple Converversion:  (3, 6, 9, 0, 2)

# Unpacking Tuples

In [26]:
# Unpacking Tuple

m, n, o, p, q = (2,4,6,8,10)
print(m)
print(n)
print(o)
print(p)
print(q)

2
4
6
8
10

In [64]:
# Assigning last 3 fruits to the red tuple

(green, yellow, *red)  = ("apple", "banana", "cherry", "strawberry", "raspberry")

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [52]:
student = ("Noor",24,"Data Analyst")
name, age, profession = student

# print them out
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: Noor
Age: 24
Profession: Data Analyst

In [56]:
mul_stu=("Noor",24,"Data Analyst") , ("Aroosa",23,"Data Scientist") , ("Amna",25,"Computer Scientist")

# for loop to go through all the students and enter their data
for students in mul_stu:
    name, age, profession = students
    print("Name:", name)
    print("Age:", age)
    print("Profession:", profession)
    print()

Name: Noor
Age: 24
Profession: Data Analyst

Name: Aroosa
Age: 23
Profession: Data Scientist

Name: Amna
Age: 25
Profession: Computer Scientist

# Slicing

In [48]:
# Slicing Tuple

fruits = ("Apple","Banana","Cherry","Mango","Apricot","Peach","Grape")
print("The first four fruits are:", fruits[:4])

# Starting from index 1 to index 6 with two steps each
print("Index 1 to 6 fruits, with 2 steps each: ", fruits[1:6:2])

The first four fruits are: ('Apple', 'Banana', 'Cherry', 'Mango')
Index 1 to 6 fruits, with 2 steps each:  ('Banana', 'Mango', 'Peach')

In [51]:

print("Original Tuple: " , mixed)

#slicing in tuples
print("After Slicing: ", mixed[1::2])

Original Tuple:  ('noor', 24, False, 4.78)
After Slicing:  (24, 4.78)

In [28]:
x = (2, 3, 5, 7, 6, 9)
print("Original Tuple: ", x)

slicedTuple = x[2:5]

print("Sliced Tuple from index 2 to 5: ", slicedTuple)

Original Tuple:  (2, 3, 5, 7, 6, 9)
Sliced Tuple from index 2 to 5:  (5, 7, 6)

In [31]:
print("Original Tuple: ", x)

slicedTuple = x[:3]

print("Sliced Tuple from index starting to 3: ", slicedTuple)

Original Tuple:  (2, 3, 5, 7, 6, 9)
Sliced Tuple from index starting to 3:  (2, 3, 5)

In [32]:
print("Original Tuple: ", x)

slicedTuple = x[4:]

print("Sliced Tuple from index 4 to end: ", slicedTuple)

Original Tuple:  (2, 3, 5, 7, 6, 9)
Sliced Tuple from index 4 to end:  (6, 9)

In [33]:
print("Original Tuple: ", x)

reversedTuple = x[::-1]

print("Reversed Tuple: ", reversedTuple)

Original Tuple:  (2, 3, 5, 7, 6, 9)
Reversed Tuple:  (9, 6, 7, 5, 3, 2)

In [35]:
print("Original Tuple: ", x)

slicedTuple = x[::3]

print("Sliced Tuple with 3 steps each: ", slicedTuple)

Original Tuple:  (2, 3, 5, 7, 6, 9)
Sliced Tuple with 3 steps each:  (2, 7)

In [36]:
print("Original Tuple: ", x)

print("Last Element: ", x[-1])
print("Second Last Element: ", x[-2])
print("Fifth Last Element: ", x[-5])

Original Tuple:  (2, 3, 5, 7, 6, 9)
Last Element:  9
Second Last Element:  6
Fifth Last Element:  3

In [40]:
print("Original Tuple: ", x)

print("From 2nd last index element to the last in tuple: " , x[-2:])
print("From start of the tuple to the 4th last index element: ", x[:-4])
print("From the 5th last index element to the 2nd last index element in tuple: ", x[-5:-2])

Original Tuple:  (2, 3, 5, 7, 6, 9)
From 2nd last index element to the last in tuple:  (6, 9)
From start of the tuple to the 4th last index element:  (2, 3)
From the 5th last index element to the 2nd last index element in tuple:  (3, 5, 7)

# Membership

In [43]:
# Using if-else, elif to check if an element is present in the tuple - MEMBERSHIP

my_tuple= ("Apple", "Watermelon", "Grapes", "Banana", "Mango")


# 1st Condition
if "Mango" in my_tuple:
  print("Mango is present in the Tuple!")
else:
  print("Mango is not present in the Tuple!")


# 2nd Condition
if "Apricots" not in my_tuple:
  print("Apricots are not present in the Tuple!")
else:
  print("Apricots are present in the Tuple!")


# 3rd Condition
if "Peach" in my_tuple:
  print("Peach is present in the Tuple!")
elif "Orange" in my_tuple:
  print("Orange is present in the Tuple!")
else:
  print("Both Peach and Orange are not present in the Tuple!")

Mango is present in the Tuple!
Apricots are not present in the Tuple!
Both Peach and Orange are not present in the Tuple!

# Loop for Tuple

In [65]:
# using loop to print all items in tuple

this_tuple = ("apple", "banana", "cherry")

i = 0
while i < len(this_tuple):
  print(this_tuple[i])

  i = i + 1

apple
banana
cherry

# Updating Tuple

if you wish to update your tuple, first convert it into a list, make modifications and then convert it back to a tuple.

In [62]:
a = ("apple", "banana", "cherry")
print("Original Tuple: ", a)

# converting tuple to list to make changes
b = list(a)

# Insert a new item
b.insert(0, "mango")

# Convert it back to tuple
a = tuple(b)

print("Updated Tuple: ", a)

Original Tuple:  ('apple', 'banana', 'cherry')
Updated Tuple:  ('mango', 'apple', 'banana', 'cherry')